Auth/src/main/java/customerservice/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:cus="http://www.wstutorial.com/ws/CustomerService"
				  xmlns:sts="http://www.wstutorial.com/ws/StatusCodeService"
				  xmlns:tns="http://www.wstutorial.com/ws/CustomerService"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  targetNamespace="http://www.wstutorial.com/ws/CustomerService">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.wstutorial.com/ws/CustomerService" schemaLocation="../schemas/customer.xsd"/>
			<xsd:import namespace="http://www.wstutorial.com/ws/StatusCodeService" schemaLocation="../schemas/status-code.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.wstutorial.com/ws/CustomerService">
			<xsd:element name="updateCustomerRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Customer" type="cus:Customer" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="updateCustomerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="statusCode" type="sts:statusCode" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="deleteCustomerRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:long" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="deleteCustomerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="statusCode" type="sts:statusCode" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getCustomersRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:long" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getCustomersResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customers" type="cus:Customer" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="customerFault">
		<wsdl:part name="params" element="tns:customerFault" />
	</wsdl:message>

	<wsdl:message name="getCustomersRequestMsg">
		<wsdl:part name="params" element="tns:getCustomersRequest" />
	</wsdl:message>
	<wsdl:message name="getCustomersResponseMsg">
		<wsdl:part name="params" element="tns:getCustomersResponse" />
	</wsdl:message>

	<wsdl:message name="deleteCustomerRequestMsg">
		<wsdl:part name="params" element="tns:deleteCustomerRequest" />
	</wsdl:message>
	<wsdl:message name="deleteCustomerResponseMsg">
		<wsdl:part name="params" element="tns:deleteCustomerResponse" />
	</wsdl:message>

	<wsdl:message name="updateCustomerRequestMsg">
		<wsdl:part name="params" element="tns:updateCustomerRequest" />
	</wsdl:message>
	<wsdl:message name="updateCustomerResponseMsg">
		<wsdl:part name="params" element="tns:updateCustomerResponse" />
	</wsdl:message>

	<wsdl:portType name="CustomerServicePortType">
		<wsdl:operation name="deleteCustomer">
			<wsdl:input message="tns:deleteCustomerRequestMsg" />
			<wsdl:output message="tns:deleteCustomerResponseMsg" />
			<wsdl:fault name="fault" message="tns:customerFault" />
		</wsdl:operation>
		<wsdl:operation name="updateCustomer">
			<wsdl:input message="tns:updateCustomerRequestMsg" />
			<wsdl:output message="tns:updateCustomerResponseMsg" />
			<wsdl:fault name="fault" message="tns:customerFault" />
		</wsdl:operation>
		<wsdl:operation name="getCustomers">
			<wsdl:input message="tns:getCustomersRequestMsg" />
			<wsdl:output message="tns:getCustomersResponseMsg" />
			<wsdl:fault name="fault" message="tns:customerFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="customerServiceSOAPBinding" type="tns:CustomerServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="deleteCustomer">
			<soap:operation soapAction="deleteCustomer" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateCustomer">
			<soap:operation soapAction="updateCustomer" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCustomers">
			<soap:operation soapAction="getCustomers" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerService">
		<wsdl:port name="CustomerServicePort" binding="tns:customerServiceSOAPBinding">
			<soap:address location="http://localhost:3000/wsdlfirst/customerService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
