ApproveAdoption/src/main/resources/wsdl/ApproveAdoptionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:pet="http://www.furryaide/ws/Pet"
				  xmlns:sts="http://www.furryaide/ws/StatusCodeService"
				  xmlns:operations="http://www.furryaide/ws/AdoptionSelectionService"
				  xmlns:schema="http://www.furryaide/ws/AdoptionSelectionService"
				  xmlns:permission="http://www.furryaide.com/permission"
				  xmlns:tns="http://www.furryaide/ws/AdoptionSelectionService"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  targetNamespace="http://www.furryaide/ws/AdoptionSelectionService">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.furryaide/ws/Pet" schemaLocation="../../../../../central-schemas/pet.xsd"/>
			<xsd:import namespace="http://www.furryaide/ws/StatusCodeService" schemaLocation="../../../../../central-schemas/status-code.xsd"/>
			<xsd:import namespace="http://www.furryaide.com/permission" schemaLocation="../../../../../central-schemas/permission.xsd"/>
			<xsd:import namespace="http://www.furryaide.com/payment/header" schemaLocation="../../../../../central-schemas/payment-header.xsd"/>
			<xsd:import namespace="http://www.furryaide/ws/Question" schemaLocation="../../../../../central-schemas/question.xsd"/>
			<xsd:import namespace="http://www.furryaide/ws/AdoptionSelectionService" schemaLocation="../schemas/adoption-selection.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CreateQuestionnaireRequest">
		<wsdl:part element="operations:createQuestionnaireRequest" name="CreateQuestionnaireRequest"/>
	</wsdl:message>
	<wsdl:message name="CreateQuestionnaireResponse">
		<wsdl:part element="operations:createQuestionnaireResponse" name="CreateQuestionnaireResponse"/>
	</wsdl:message>
	<wsdl:message name="SelectQuestionnaireRequest">
		<wsdl:part element="operations:selectQuestionnaireRequest" name="SelectQuestionnaireRequest"/>
	</wsdl:message>
	<wsdl:message name="SelectQuestionnaireResponse">
		<wsdl:part element="operations:selectQuestionnaireResponse" name="SelectQuestionnaireResponse"/>
	</wsdl:message>
	<wsdl:message name="AdoptionSelectionFault">
		<wsdl:part element="schema:adoptionSelectionFault" name="AdoptionSelectionFault"/>
	</wsdl:message>

	<!-- PortType -->
	<wsdl:portType name="AdoptionSelectionServicePortType">


		<wsdl:operation name="CreateQuestionnaire">
			<wsdl:input message="tns:CreateQuestionnaireRequest" name="CreateQuestionnaireRequest"/>
			<wsdl:output message="tns:CreateQuestionnaireResponse" name="CreateQuestionnaireResponse"/>
			<wsdl:fault message="tns:AdoptionSelectionFault" name="AdoptionSelectionFault"/>
		</wsdl:operation>

		<wsdl:operation name="SelectQuestionnaire">
			<wsdl:input message="tns:SelectQuestionnaireRequest" name="SelectQuestionnaireRequest"/>
			<wsdl:output message="tns:SelectQuestionnaireResponse" name="SelectQuestionnaireResponse"/>
			<wsdl:fault message="tns:AdoptionSelectionFault" name="AdoptionSelectionFault"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- Binding -->
	<wsdl:binding name="AdoptionSelectionServiceSOAPBinding" type="tns:AdoptionSelectionServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>


		<wsdl:operation name="CreateQuestionnaire">
			<soap:operation soapAction="http://furryaide.com/CreateQuestionnaire"/>
			<wsdl:input name="CreateQuestionnaireRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateQuestionnaireResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AdoptionSelectionFault">
				<soap:fault name="AdoptionSelectionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="SelectQuestionnaire">
			<soap:operation soapAction="http://furryaide.com/SelectQuestionnaire"/>
			<wsdl:input name="SelectQuestionnaireRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SelectQuestionnaireResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AdoptionSelectionFault">
				<soap:fault name="AdoptionSelectionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="AdoptionSelectionService">
		<wsdl:port binding="tns:AdoptionSelectionServiceSOAPBinding" name="AdoptionSelectionServicePort">
			<soap:address location="http://localhost:3005/ws/adoptionSelectionService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
