Authentication/src/main/resources/wsdl/AuthenticationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:tns="http://www.example.com/authentication"
				  xmlns:auth="http://www.example.com/authentication"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  targetNamespace="http://www.example.com/authentication"
				  name="AuthenticationService">

	<wsdl:types>
		<!-- Importing User Information Schema -->


		<!-- Authentication Schema -->
		<xsd:schema targetNamespace="http://www.example.com/authentication"
					xmlns="http://www.w3.org/2001/XMLSchema"
					xmlns:tns="http://www.example.com/authentication">
			<xsd:import namespace="http://www.example.com/authentication" schemaLocation="../schemas/auth.xsd"/>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="loginRequestMessage">
		<wsdl:part name="parameters" element="auth:loginRequest"/>
	</wsdl:message>
	<wsdl:message name="loginResponseMessage">
		<wsdl:part name="parameters" element="auth:loginResponse"/>
	</wsdl:message>
	<wsdl:message name="validateTokenRequestMessage">
		<wsdl:part name="parameters" element="auth:validateTokenRequest"/>
	</wsdl:message>
	<wsdl:message name="validateTokenResponseMessage">
		<wsdl:part name="parameters" element="auth:validateTokenResponse"/>
	</wsdl:message>

	<wsdl:portType name="AuthenticationPortType">
		<wsdl:operation name="login">
			<wsdl:input message="tns:loginRequestMessage"/>
			<wsdl:output message="tns:loginResponseMessage"/>
		</wsdl:operation>
		<wsdl:operation name="validateToken">
			<wsdl:input message="tns:validateTokenRequestMessage"/>
			<wsdl:output message="tns:validateTokenResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AuthenticationSOAPBinding" type="tns:AuthenticationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="login">
			<soap:operation soapAction="login"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validateToken">
			<soap:operation soapAction="validateToken"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="AuthenticationService">
		<wsdl:port name="AuthenticationServicePort" binding="tns:AuthenticationSOAPBinding">
			<soap:address location="http://localhost:3000/ws/authenticationService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>


