UserAuthentication/src/main/resources/wsdl/UserAuthenticationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:aut="http://www.furryaide.com/user-authentication"
				  xmlns:tns="http://www.furryaide.com/user-authentication"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  targetNamespace="http://www.furryaide.com/user-authentication">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.furryaide.com/user-authentication" schemaLocation="../schemas/user-auth.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="authenticateUserRequestMessage">
		<wsdl:part name="parameters" element="aut:authenticateUserRequest"/>
	</wsdl:message>
	<wsdl:message name="authenticateUserResponseMessage">
		<wsdl:part name="parameters" element="aut:authenticateUserResponse"/>
	</wsdl:message>


	<wsdl:message name="validateTokenRequestMessage">
		<wsdl:part name="parameters" element="aut:validateTokenRequest"/>
	</wsdl:message>
	<wsdl:message name="validateTokenResponseMessage">
		<wsdl:part name="parameters" element="aut:validateTokenResponse"/>
	</wsdl:message>

	<wsdl:portType name="UserAuthenticationServicePortType">
		<wsdl:operation name="authenticateUser">
			<wsdl:input message="tns:authenticateUserRequestMessage"/>
			<wsdl:output message="tns:authenticateUserResponseMessage"/>
		</wsdl:operation>

		<wsdl:operation name="validateToken">
			<wsdl:input message="tns:validateTokenRequestMessage"/>
			<wsdl:output message="tns:validateTokenResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="UserAuthenticationServiceSOAPBinding" type="tns:UserAuthenticationServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="authenticateUser">
			<soap:operation soapAction="authenticateUser"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="validateToken">
			<soap:operation soapAction="validateToken"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="UserAuthenticationService">
		<wsdl:port name="UserAuthenticationServicePort" binding="tns:UserAuthenticationServiceSOAPBinding">
			<soap:address location="http://localhost:3001/wsdlfirst/userAuthenticationService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
