RequestAdoption/src/main/java/adoptionrequestservice/RequestAdoptionService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:pet="http://www.furryaide/ws/Pet"
				  xmlns:sts="http://www.furryaide/ws/StatusCodeService"
				  xmlns:operations="http://www.furryaide/ws/AdoptionRequestService"
				  xmlns:schema="http://www.furryaide/ws/AdoptionRequestService"
				  xmlns:permission="http://www.furryaide.com/permission"
				  xmlns:tns="http://www.furryaide/ws/AdoptionRequestService"

				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  targetNamespace="http://www.furryaide/ws/AdoptionRequestService">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.furryaide/ws/Pet" schemaLocation="../../../../../central-schemas/pet.xsd"/>
			<xsd:import namespace="http://www.furryaide/ws/StatusCodeService" schemaLocation="../../../../../central-schemas/status-code.xsd"/>
			<xsd:import namespace="http://www.furryaide.com/permission" schemaLocation="../../../../../central-schemas/permission.xsd"/>
			<xsd:import namespace="http://www.furryaide.com/payment/header" schemaLocation="../../../../../central-schemas/payment-header.xsd"/>
			<xsd:import namespace="http://www.furryaide/ws/AdoptionRequestService" schemaLocation="../schemas/adoption-request.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetPetListRequest">
		<wsdl:part element="operations:getPetListRequest" name="GetPetListRequest"/>
	</wsdl:message>
	<wsdl:message name="GetPetListResponse">
		<wsdl:part element="operations:getPetListResponse" name="GetPetListResponse"/>
	</wsdl:message>
	<wsdl:message name="SubmitQuestionnaireRequest">
		<wsdl:part element="operations:submitQuestionnaireRequest" name="SubmitQuestionnaireRequest"/>
	</wsdl:message>
	<wsdl:message name="SubmitQuestionnaireResponse">
		<wsdl:part element="operations:submitQuestionnaireResponse" name="SubmitQuestionnaireResponse"/>
	</wsdl:message>

	<wsdl:message name="AdoptionRequestFault">
		<wsdl:part element="schema:AdoptionRequestFault" name="AdoptionRequestFault"/>
	</wsdl:message>

	<!-- PortType -->
	<wsdl:portType name="AdoptionRequestServicePortType">
		<wsdl:operation name="GetPetList">
			<wsdl:input message="tns:GetPetListRequest" name="GetPetListRequest"/>
			<wsdl:output message="tns:GetPetListResponse" name="GetPetListResponse"/>
			<wsdl:fault message="tns:AdoptionRequestFault" name="AdoptionRequestFault"/>
		</wsdl:operation>

		<wsdl:operation name="SubmitQuestionnaire">
			<wsdl:input message="tns:SubmitQuestionnaireRequest" name="SubmitQuestionnaireRequest"/>
			<wsdl:output message="tns:SubmitQuestionnaireResponse" name="SubmitQuestionnaireResponse"/>
			<wsdl:fault message="tns:AdoptionRequestFault" name="AdoptionRequestFault"/>
		</wsdl:operation>


	</wsdl:portType>

	<!-- Binding -->
	<wsdl:binding name="AdoptionRequestServiceSOAPBinding" type="tns:AdoptionRequestServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetPetList">
			<soap:operation soapAction="http://furryaide.com/GetPetList"/>
			<wsdl:input name="GetPetListRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetPetListResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AdoptionRequestFault">
				<soap:fault name="AdoptionRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="SubmitQuestionnaire">
			<soap:operation soapAction="http://furryaide.com/SubmitQuestionnaire"/>
			<wsdl:input name="SubmitQuestionnaireRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SubmitQuestionnaireResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AdoptionRequestFault">
				<soap:fault name="AdoptionRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="AdoptionRequestService">
		<wsdl:port binding="tns:AdoptionRequestServiceSOAPBinding" name="AdoptionRequestServicePort">
			<soap:address location="http://localhost:3004/ws/adoptionRequestService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>