producing-web-service/src/main/resources/wsdl/TutorialService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:schema="http://www.wstutorial.com/ws/TutorialService"
				  xmlns:tns="http://www.wstutorial.com/ws/TutorialService"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  targetNamespace="http://www.wstutorial.com/ws/TutorialService">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.wstutorial.com/ws/TutorialService">
			<xsd:import namespace="http://www.wstutorial.com/ws/TutorialService" schemaLocation="../schemas/tutorials.xsd"/>

			<xsd:element name="updateTutorialRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tutorialType" type="schema:TutorialType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="updateTutorialResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="statusCode" type="schema:statusCode" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="deleteTutorialRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:long" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="deleteTutorialResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="statusCode" type="schema:statusCode" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getTutorialsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:long" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getTutorialsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element type="schema:TutorialType" minOccurs="0" maxOccurs="unbounded" name="tutorials" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="tutorialFault">
		<wsdl:part name="params" element="schema:tutorialFault" />
	</wsdl:message>

	<wsdl:message name="getTutorialsRequestMsg">
		<wsdl:part name="params" element="tns:getTutorialsRequest" />
	</wsdl:message>
	<wsdl:message name="getTutorialsResponseMsg">
		<wsdl:part name="params" element="tns:getTutorialsResponse" />
	</wsdl:message>

	<wsdl:message name="deleteTutorialRequestMsg">
		<wsdl:part name="params" element="tns:deleteTutorialRequest" />
	</wsdl:message>
	<wsdl:message name="deleteTutorialResponseMsg">
		<wsdl:part name="params" element="tns:deleteTutorialResponse" />
	</wsdl:message>

	<wsdl:message name="updateTutorialRequestMsg">
		<wsdl:part name="params" element="tns:updateTutorialRequest" />
	</wsdl:message>
	<wsdl:message name="updateTutorialResponseMsg">
		<wsdl:part name="params" element="tns:updateTutorialResponse" />
	</wsdl:message>

	<wsdl:portType name="TutorialServicePortType">
		<wsdl:operation name="deleteTutorial">
			<wsdl:input message="tns:deleteTutorialRequestMsg" />
			<wsdl:output message="tns:deleteTutorialResponseMsg" />
			<wsdl:fault name="fault" message="tns:tutorialFault" />
		</wsdl:operation>
		<wsdl:operation name="updateTutorial">
			<wsdl:input message="tns:updateTutorialRequestMsg" />
			<wsdl:output message="tns:updateTutorialResponseMsg" />
			<wsdl:fault name="fault" message="tns:tutorialFault" />
		</wsdl:operation>
		<wsdl:operation name="getTutorials">
			<wsdl:input message="tns:getTutorialsRequestMsg" />
			<wsdl:output message="tns:getTutorialsResponseMsg" />
			<wsdl:fault name="fault" message="tns:tutorialFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="tutorialServiceSOAPBinding" type="tns:TutorialServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="deleteTutorial">
			<soap:operation soapAction="deleteTutorial" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateTutorial">
			<soap:operation soapAction="updateTutorial" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTutorials">
			<soap:operation soapAction="getTutorials" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TutorialService">
		<wsdl:port name="TutorialServicePort" binding="tns:tutorialServiceSOAPBinding">
			<soap:address location="http://localhost:8080/wsdlfirst/tutorialService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
