Payment/src/main/resources/wsdl/PaymentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:tns="http://www.furryaide.com/payment"
				  xmlns:payment = "http://www.furryaide.com/payment"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  targetNamespace="http://www.furryaide.com/payment"
				  name="PaymentService">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.furryaide.com/payment"
					xmlns="http://www.w3.org/2001/XMLSchema"
					xmlns:tns="http://www.furryaide.com/payment">
			<xsd:import namespace="http://www.furryaide.com/payment" schemaLocation="../schemas/payment.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="makePaymentRequestMessage">
		<wsdl:part name="parameters" element="payment:makePaymentRequest"/>
	</wsdl:message>
	<wsdl:message name="makePaymentResponseMessage">
		<wsdl:part name="parameters" element="payment:makePaymentResponse"/>
	</wsdl:message>
	<wsdl:message name="validatePaymentRequestMessage">
		<wsdl:part name="parameters" element="payment:validatePaymentRequest"/>
	</wsdl:message>
	<wsdl:message name="validatePaymentResponseMessage">
		<wsdl:part name="parameters" element="payment:validatePaymentResponse"/>
	</wsdl:message>

	<wsdl:portType name="PaymentPortType">
		<wsdl:operation name="makePayment">
			<wsdl:input message="tns:makePaymentRequestMessage"/>
			<wsdl:output message="tns:makePaymentResponseMessage"/>
		</wsdl:operation>
		<wsdl:operation name="validatePayment">
			<wsdl:input message="tns:validatePaymentRequestMessage"/>
			<wsdl:output message="tns:validatePaymentResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PaymentSOAPBinding" type="tns:PaymentPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="makePayment">
			<soap:operation soapAction="makePayment"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validatePayment">
			<soap:operation soapAction="validatePayment"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PaymentService">
		<wsdl:port name="PaymentServicePort" binding="tns:PaymentSOAPBinding">
			<soap:address location="http://localhost:4000/wsdlfirst/paymentService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
