JWTAuth/src/main/java/jwtauthservice/AuthenticationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:auth="http://www.furryaide.com/authentication"
				  xmlns:tns="http://www.furryaide.com/authentication"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  targetNamespace="http://www.furryaide.com/authentication">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.furryaide.com/authentication" schemaLocation="../schemas/auth.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<!-- Messages for generateToken -->
	<wsdl:message name="generateTokenRequestMessage">
		<wsdl:part name="parameters" element="auth:generateTokenRequest"/>
	</wsdl:message>
	<wsdl:message name="generateTokenResponseMessage">
		<wsdl:part name="parameters" element="auth:generateTokenResponse"/>
	</wsdl:message>

	<!-- Messages for validateToken -->
	<wsdl:message name="validateTokenRequestMessage">
		<wsdl:part name="parameters" element="auth:validateTokenRequest"/>
	</wsdl:message>
	<wsdl:message name="validateTokenResponseMessage">
		<wsdl:part name="parameters" element="auth:validateTokenResponse"/>
	</wsdl:message>

	<!-- Messages for hashPassword -->
	<wsdl:message name="hashPasswordRequestMessage">
		<wsdl:part name="parameters" element="auth:hashPasswordRequest"/>
	</wsdl:message>
	<wsdl:message name="hashPasswordResponseMessage">
		<wsdl:part name="parameters" element="auth:hashPasswordResponse"/>
	</wsdl:message>

	<wsdl:portType name="JWTAuthServicePortType">
		<wsdl:operation name="generateToken">
			<wsdl:input message="tns:generateTokenRequestMessage"/>
			<wsdl:output message="tns:generateTokenResponseMessage"/>
		</wsdl:operation>

		<wsdl:operation name="validateToken">
			<wsdl:input message="tns:validateTokenRequestMessage"/>
			<wsdl:output message="tns:validateTokenResponseMessage"/>
		</wsdl:operation>

		<wsdl:operation name="hashPassword">
			<wsdl:input message="tns:hashPasswordRequestMessage"/>
			<wsdl:output message="tns:hashPasswordResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="JWTAuthServiceSOAPBinding" type="tns:JWTAuthServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="generateToken">
			<soap:operation soapAction="generateToken"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="validateToken">
			<soap:operation soapAction="validateToken"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="hashPassword">
			<soap:operation soapAction="hashPassword"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="JWTAuthService">
		<wsdl:port name="JWTAuthServicePort" binding="tns:JWTAuthServiceSOAPBinding">
			<soap:address location="http://localhost:3000/wsdlfirst/authenticationService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
